.pageDiv{
    position: absolute;
    left:92px;
    width: 100%;
    height: 100%;
}
.tableDiv{
    position: relative;
    top:30%;
    width: 93%;
    padding-left: 30px;
}

@media only screen and (max-width: 1360px) {

    .tableDiv {
        position: relative;
        top: 30%;
        width: 90%;
        padding-left: 30px;
    }
}

.ui.divider.divider{
    position: relative;
    top:25%;
    width: 90%;
    left:2.2%;
}
.titleLabel{
    left: 3%;
    position: absolute;
    top: 10%;
    font-size: 35px;
    font-style: oblique;
}